<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/cliente_inicio_sesion.css">  
  </head>

  <script src="https://kit.fontawesome.com/041123afa1.js" crossorigin="anonymous"></script>

  <style type="text/css">
		#contenido{
			width: 100%;
      height: 100vh;
      display: flex;
			justify-content: center;
      align-items: center;
		}

		#formulario form{
			width: 100%;
		}
	</style>

  <body>
    <div id="contenido" class="container text-center">
      <div id="sub_contenido">

        <div class="foto">
          <img src='' name="photo" readonly>
        </div>

        <div class="caja_centrada py-3 pb-4" id="titulo">
          <p class="text-center fw-bold fs-2">Iniciar sesión</p>
          <p class="text-center text-secondary fw-bold fs-6">Introduce sus datos para iniciar sesión</p>
        </div>

        <form action="sesiones" method="POST" class="form">

          <div class="mb-0">
            <div class="row row-cols-12">
                <div class="col">
                    <div class="mb-2" style="width:100%">
                        <div class="col-12 col-lg-12 d-flex justify-content-left">
                            <label class="form-label">Correo electrónico</label>
                        </div>
                        <div class="col-12 col-lg-12" style="display:flex">
                        <input value="" id="inputEmail" name="inputEmail" type="email" class="form-control" placeholder="jperezl@gmai.com" required>                          
                        </div>
                    </div>
                </div>
            </div>
          </div><br>

          <div class="mb-0">
            <div class="row row-cols-12">
                <div class="col">
                    <div class="mb-2" style="width:100%">
                        <div class="col-12 col-lg-12 d-flex justify-content-left">
                            <label class="form-label">Contraseña</label>
                        </div>
                        <div class="col-12 col-lg-12" style="display:flex">
                        <input value="" id="inputPass" name="inputPass" type="password" class="form-control" placeholder="••••••••" required>                          
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div> <a href="cliente_recuperacion_contrasena.html" class="fw-bold d-flex justify-content-left text-muted" style="text-decoration: none;">¿Olvidaste tu contraseña?</a></div>
          <br><br><br>

          <div class="mb-0">
            <div class="row row-cols-1 row-cols-sm-2">
                <div class="col">
                    <div class="mb-2" style="width:100%">
                      <div> <a href="cliente_registro.html" class="fw-bold d-flex justify-content-left" style="text-decoration: none; color: #DB8015;">Crear cuenta</a></div>
                    </div>
                </div>
        
                <div class="col">
                  <div class="mb-2" style="width:100%">
                    <a href="Base.html"  target="_blank">
                      <button id="buttonSubmit" type="submit" class="btn btn-danger">Iniciar sesión</button>
                     </a>
                  </div>
              </div>
            </div>
          </div>          
        <!--  -->
        </form>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">
document.getElementById('buttonSubmit').addEventListener('click',login_adapter);

function login_adapter(){
  const data = {
	  email: document.getElementById('inputEmail').value,
	  pass: document.getElementById('inputPass').value
  }
  
  fetch('/sesiones', {
    method: 'POST',
    body: JSON.stringify(data),
    headers: {
      'Content-Type': 'application/json',
    }
  }).then(res=>res.json())
  .then(data=>console.log(data))
}
</script>