<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<% if( session ) { %>
		<h1>HOLA ya hay sesion</h1>
	<% } else { %>
		<!-- <form action="/sesiones" method="post"> -->
		<div>
			<h2 id="msg"></h2><br>
			Email: <input id="iemail" type="email" name="email"> <br>
			Passw: <input id="ipass" type="password" name="pass"> <br>
			<button type="submit" onclick="iniciarSesion()">Enviar</button>
		</div>
		<!-- </form> -->
	<% } %>
</body>

<script type="text/javascript">
	const iniciarSesion = () => {
		let data = {
			email: document.querySelector('#iemail').value,
			pass: document.querySelector('#ipass').value
		}; 

		fetch('/sesiones', {
			method: 'POST',
			body: JSON.stringify(data),
			headers: {
			    'Content-Type': 'application/json'
			  }
		})
		.then( responseHTTP => responseHTTP.json() )
		.then( respuesta => {
			document.querySelector('#msg').innerHTML = respuesta.msg;
			console.log(respuesta)
		});
	}
</script>
</html>