<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visualizacion</title>
    <%- include('./parts/html.head.complements.ejs')%>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/cliente_visualizacion.css"> 
  </head>

  <script src="https://kit.fontawesome.com/041123afa1.js" crossorigin="anonymous"></script>

  <style type="text/css">
    #contenido{
      width: 100%;
    }
    #formulario form{
      width: 100%;
    }
  </style>
  
  <body>
    <%- include('./parts/nav.dashboard.ejs') %>

    <div id="contenido">
      <div id="sub_contenido">   
        <div id="data-general">

            <div class="caja_centrada py-3 pb-4" id="titulo">
              <p class="text-start fw-bold fs-3">Mis datos</p>
            </div>

            <div class="mb-0">
              <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col" id="grupo__inputNameE">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                              <label class="form-label">Nombres de la empresa</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                          <input value="" id="inputNameE" name="inputNameE" type="text" class="form-control" placeholder="Supermercados Peruanos S.A." readonly>                          
                          </div>
                      </div>
                  </div>
          
                  <div class="col" id="grupo__inputNames">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                          <label class="form-label">Nombre de contacto</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputNames" name="inputNames" type="email" class="form-control" placeholder="Jose Mariano Perez Lopez" readonly> 
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="mb-0">
              <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col" id="grupo__inputRuc">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                              <label class="form-label">RUC</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                          <input value="" id="inputRuc" name="inputRuc" type="text" class="form-control" placeholder="20100070970" readonly>                          
                          </div>
                      </div>
                  </div>
          
                  <div class="col" id="grupo__inputEmail">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                          <label class="form-label">Correo electrónico</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputEmail" name="inputEmail" type="text" class="form-control" placeholder="jperezl@correo.com" readonly> 
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="mb-0">
              <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col" id="grupo__inputPhone">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                              <label class="form-label">Teléfono</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                          <input value="" id="inputPhone" name="inputPhone" type="text" class="form-control" placeholder="+51 425687" readonly>                          
                          </div>
                      </div>
                  </div>
          
                  <div class="col" id="grupo__inputCell">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                          <label class="form-label">Celular</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputCell" name="inputCell" type="text" class="form-control" placeholder="+51 999888777" readonly> 
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="mb-0">
              <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col" id="grupo__inputLocation">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                              <label class="form-label">Ubicación</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                          <input value="" id="inputLocation" name="inputLocation" type="text" class="form-control" placeholder="Los palotes escondidos 123" readonly>                          
                          </div>
                      </div>
                  </div>
          
                  <div class="col" id="grupo__inputPosition">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                          <label class="form-label">Cargo</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputPosition" name="inputPosition" type="text" class="form-control" placeholder="Encargado de ventas y stock" readonly> 
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="caja_centrada py-3 pb-4" id="titulo">
              <p class="text-start fw-bold fs-3">Imagen de cuenta</p>
            </div>

            <div class="mb-0">
              <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col" id="grupo__inputPhoto">
                    <div class="foto">
                    </div>
                  </div>
          
                  <div class="col" id="grupo__inputPhoto">
                    <div class="mb-2" style="width:100%">
                      <div class="col-12 col-lg-12 d-flex justify-content-left">
                        <label class="form-label">Foto de perfil</label>
                      </div>
                      <div class="input-group">
                        <input type="file" class="form-control" id="inpuPhoto" aria-describedby="inputPhoto" aria-label="Upload">
                      </div>
                    </div>
                  </div>
              </div>
            </div>

            <br>
            <div class="mb-0">
              <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col" id="grupo__inputName">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-center">
                            <button type="button" class="btn btn-danger">Cancelar</button>
                          </div>
                      </div>
                  </div>
          
                  <div class="col" id="grupo__inputSurname">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-center">
                            <button type="button" class="btn btn-danger">Confirmar</button>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
  
            <div class="caja_centrada py-3 pb-4" id="titulo">
              <p class="text-start fw-bold fs-3">Cambiar contraseña</p>
            </div>

            <form method="post">
              <div class="mb-0">
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col" id="grupo__inputPass">
                        <div class="mb-2" style="width:100%">
                            <div class="col-12 col-lg-12 d-flex justify-content-left">
                                <label class="form-label">Contraseña actual</label>
                            </div>
                            <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputPass" name="inputPass" type="password" class="form-control" placeholder="••••••••" required>                          
                            </div>
                        </div>
                    </div>
                </div>
              </div>
  
              <div class="mb-0">
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col" id="grupo__inputPass3">
                        <div class="mb-2" style="width:100%">
                            <div class="col-12 col-lg-12 d-flex justify-content-left">
                                <label class="form-label">Nueva contraseña</label>
                            </div>
                            <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputPass3" name="inputPass3" type="password" class="form-control" placeholder="••••••••" required>                          
                            </div>
                        </div>
                    </div>
                </div>
              </div>
  
              <br>
              <div class="btn-control-general d-flex justify-content-center">
                <button  id="buttonSubmitPass" type="button" class="btn btn-danger">Cambiar contraseña</button>
              </div>
            </form>
        </div> 
      </div>
    </div>

    <%- include('./parts/footer.ejs') %>
  </body>

</html>

<script type="text/javascript">    
    fetch('/usuarios', {})
    .then(res=>res.json())
    .then(data=>{
      document.querySelector('#inputNames').value = data.USU_NOMBRE + ' ' + data.USU_APELLIDO1 + ' ' + data.USU_APELLIDO2;
      document.querySelector('#inputEmail').value = data.USU_CORREO;
      document.querySelector('#inputNameE').value = data.EMP_ENTIDAD;
      document.querySelector('#inputPhone').value = data.USU_TELEFONO;
      document.querySelector('#inputLocation').value = data.EMP_UBICACION;
      document.querySelector('#inputCell').value = data.USU_CELULAR;
      document.querySelector('#inputPosition').value = data.USU_CARGO;
      document.querySelector('#inputRuc').value = data.USU_EMPRESA;

      let foto_perfil = `
            <img src="/images/profile-photos/${data.USU_FOTO}" style="height: 250px" class="d-block w-100">
        `;
      document.querySelector('#grupo__inputPhoto .foto').innerHTML += foto_perfil;
    })
//------------------------------------------------------------------------------------------------------------
</script>