<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF‐8">
    <meta name="viewport" content="width=device‐width, initial‐scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <header><nav><a href="Publicaciones.html" class="nav-link">Atras</a></nav>Refrescar Publicacion</header>
</head>
<body>
    <div id="info">
        <form id="Pub_ref" target="_blank" method="post">
            <p>Darle click a refrescar para aceptar, caso contrario darle a cancelar</p>
                <input type="submit" name="RefrescarPub" value="Refrescar"/>
                <input type="submit" name="CancelarRefrescarPub" value="Cancelar"/>
            </form> 
     </div>   
 </body>
 </html>