<!DOCTYPE html>
<html lang="es">
<head>
    <title>S4O - Editar publicación</title>
    <%- include('./parts/html.head.complements.ejs')%>
	<link rel="stylesheet" href="../css/publicacion.editar.css">
</head>

<body>
    <%- include('./parts/nav.ejs') %>
        <div id="contenido" class="d-flex justify-content-left">
            <div id="sub_contenido" >

                <!-- Título para entender que es el registro para crear publicación -->
                <div class="caja_centrada">
                    <p class="text-start fw-bold fs-1">Editar publicación</p>
                    <p class="text-start text-secondary fw-bold fs-6" >Rellene todos los espacios de este formulario ...</p>
                </div>

                <!-- Todos los registros que se necesitará para las publicaciones -->
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Nombre de publicación: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="titulo" id="titulo" placeholder="ejemplo de ejemplos por ejemplos" required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Precio (por kilo): </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="precio" id="precio" placeholder="10.00" required>
                    </div>
                </div>
                
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Descripción :</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="descripcion" id="descripcion" rows="3" required></textarea>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Categoría :</label>
                    <div class="col-sm-8">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Carnes y huevos
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="2">
                                        <label class="form-check-label" for="inlineRadio2">Carnes rojas</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="3">
                                        <label class="form-check-label" for="inlineRadio3">Carnes blancas</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="4" >
                                        <label class="form-check-label" for="inlineRadio4">Huevos</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="5" >
                                        <label class="form-check-label" for="inlineRadio5">Embutidos</label>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Pescados y mariscos
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="7">
                                        <label class="form-check-label" for="inlineRadio7">Pescados</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="8">
                                        <label class="form-check-label" for="inlineRadio8">Mariscos</label>
                                    </div>
                                </div> 
                            </div>
                            </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Vegetales y hortalizas
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="10">
                                        <label class="form-check-label" for="inlineRadio10">Vegetales</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="11">
                                        <label class="form-check-label" for="inlineRadio11">Hortalizas</label>
                                    </div>
                                </div> 
                            </div>
                            </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                Frutas
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="14">
                                        <label class="form-check-label" for="inlineRadio14">Dulces y semidulces</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="15">
                                        <label class="form-check-label" for="inlineRadio15">Ácidas y semiácidas</label>
                                    </div>
                                </div> 
                            </div>
                            </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                Lácteos y derivados
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="17">
                                        <label class="form-check-label" for="inlineRadio17">Leche</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="18">
                                        <label class="form-check-label" for="inlineRadio18">Yogures</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="19">
                                        <label class="form-check-label" for="inlineRadio19">Quesos</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="20">
                                        <label class="form-check-label" for="inlineRadio20">Otros</label>
                                    </div>
                                </div> 
                            </div>
                            </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                Legumbres, tubérculos y frutos secos
                                </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="22">
                                        <label class="form-check-label" for="inlineRadio22">Legumbres</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="23">
                                        <label class="form-check-label" for="inlineRadio23">tubérculos</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="24">
                                        <label class="form-check-label" for="inlineRadio24">Frutos Secos</label>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                                Cereales y derivados
                                </button>
                            </h2>
                            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="26">
                                        <label class="form-check-label" for="inlineRadio26">Cereales</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input subcategoria" type="radio" name="inlineRadioOptions" value="27">
                                        <label class="form-check-label" for="inlineRadio27">Derivados</label>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Negociabilidad :</label>
                    <div class="col-sm-8" style="margin: auto;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input negociable" type="radio" name="negociable" value="0">
                                <label class="form-check-label" for="inlineRadio1">No está permitido</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input negociable" type="radio" name="negociable" value="1">
                                <label class="form-check-label" for="inlineRadio2">Permitido</label>
                            </div>
                    </div>
                </div>

                <div class="caja_centrada d-flex justify-content-left">
                    <button id="editar" type="submit" class="btn btn-danger" style="padding-left:40px; padding-right: 40px;">Cambiar</button>
                </div>
                <br><br>
                <div class="caja_centrada">
                    <p class="text-start fw-bold fs-1">Editar imágenes</p>
                    <p class="text-start text-secondary fw-bold fs-6" >Edición solamente de las imágenes de las publicaciones ...</p>
                </div>

                <form id="istImg" class="istImg" enctype="multipart/form-data" method="POST" action="">
                    <div class="mb-3 row">
                        <label class="col-sm-4 col-form-label">Foto de publicación: </label>
                        <div class="col-sm-8">
                            <div class="mb-3">
                                <input class="form-control" type="file" name="photos" multiple>
                            </div>
                        </div>
                    </div>

                    <div id="publicaciones" style="margin-bottom: 30px;">

                    </div>

                    <div class="caja_centrada d-flex justify-content-left">
                        <button id="publicar" type="submit" class="btn btn-danger" style="padding-left:40px; padding-right: 40px;">Insertar fotos</button>
                    </div>
                </form>
            </div>

            
        </div>
    <%- include('./parts/footer.ejs') %>
</body>
</html>

<script type="text/javascript">
	let publicacionID = parseInt('<%=id%>');
    
    document.querySelector('#istImg').setAttribute('action','publicaciones/'+publicacionID+'/fotos');  

    fetch(`/publicaciones?id=${publicacionID}`)
	.then( res => res.json() )
	.then( publicacion => {

        document.querySelector('#descripcion').innerHTML = publicacion.descripcion;
		document.querySelector('#titulo').value = publicacion.titulo;
		document.querySelector('#precio').value = publicacion.precio;
        
		publicacion.fotos = JSON.parse(publicacion.fotos);

		let fotos = "";
		publicacion.fotos.forEach( foto => {
			fotos += `
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="${foto}" checked>
                <label class="form-check-label" for="${foto}">
                <img class="m-1" style="width: 180px; height: 180px;" src="/images/posts-photos/${foto}"></label>
            </div>
        `;
		} );

        document.querySelector('#publicaciones').innerHTML += fotos;         
    });

    document.getElementById('editar').addEventListener('click',EditarPub);
  
    function EditarPub(){

        const data = {
            titulo: document.getElementById('titulo').value,
            descripcion: document.getElementById('descripcion').value,
            precio: document.getElementById('precio').value,
            categoria: (() => {
                aux = document.querySelectorAll('.subcategoria');
                j = 0;
                for (let i = 0; i < aux.length; i++) 
                    if (aux[i].checked) {j = i; break;}
                return aux[j].value;
            })(),
            negociable: document.querySelector(".negociable").checked?"0":"1",
        }

        console.log(data)

        fetch(`/publicaciones/${publicacionID}`, {
            method: 'PUT',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(res=>res.json())
        .then(data=>console.log(data))
    }

    function RegisterImagenes(){
        let p = document.getElementById('photos');
        let photos = [];
        
        for(let i=0;i<p.files.length;i++){
            photos.push(p.files[i].name) 
        }

        const info = {fotos: photos}
        console.log(info);

        fetch(`/publicaciones/${publicacionID}/fotos`, {
            method: 'PATCH',
            body: JSON.stringify(info),
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(res=>res.json())
        .then(info=>console.log(info))
    }

  </script>
  