<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recuperacion de contrasena</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/cliente_recuperacion_contrasena.css">  
  </head>

  <style type="text/css">
    #contenido{
      width: 100%;
      display: flex;
    }
    #formulario form{
      width: 100%;
    }
		#emote-cabeza{
			font-size: 6em;
		}
  </style>
  
  <body>
    <div id="header">

    </div>

    <div id="contenido">
      <div id="sub_contenido">

        <div class="caja_centrada py-3 pb-4" id="titulo">
          <p class="text-start fw-bold fs-2">Recuperación de contraseña</p>
          <p class="text-start text-secondary fw-bold fs-6" >Escribe el correo electrónico de la cuenta para recuperar la contraseña</p>
        </div>
        
        <form action="editar-datos" method="post" class="form">

          <div class="mb-0">
            <div class="row row-cols-1 row-cols-sm-2">
                <div class="col" id="grupo__inputEmail">
                    <div class="mb-2" style="width:100%">
                        <div class="col-12 col-lg-12 d-flex justify-content-left">
                            <label class="form-label">Correo electrónico</label>
                        </div>
                        <div class="col-12 col-lg-12" style="display:flex">
                        <input value="" id="inputEmail" name="inputEmail" type="email" class="form-control" placeholder="jperezc@gmail.com" required>                          
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <div class="mb-0">
            <div class="row row-cols-1 row-cols-sm-2">
                <div class="col" id="grupo__inputRuc">
                    <div class="mb-2" style="width:100%">
                        <div class="col-12 col-lg-12 d-flex justify-content-left">
                            <label class="form-label">RUC</label>
                        </div>
                        <div class="col-12 col-lg-12" style="display:flex">
                        <input value="" id="inputRuc" name="inputRuc" type="text" class="form-control" placeholder="20100070970" required>                          
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <br> <br>

          <div class="caja_centrada d-flex justify-content-left">
            <button id="registrarse" type="submit" class="btn btn-danger" style="padding-left:40px; padding-right: 40px;">Recuperar contraseña</button>
          </div>

        </form>
      </div>    
    </div>

    <div id="footer">

    </div>
  </body>
</html>