<!Doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/cliente_registro.css">  
  </head>

  <script src="https://kit.fontawesome.com/041123afa1.js" crossorigin="anonymous"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <body>
    <%- include('./parts/nav.register.ejs') %>

    <div id="contenido" class="d-flex justify-content-left">
        <div id="sub_contenido">

          <div class="caja_centrada py-3 pb-4" id="titulo">
            <p class="text-start fw-bold fs-1">Crear una cuenta</p>
            <p class="text-start text-secondary fw-bold fs-6" >Rellene todos los espacios de este formulario para crear una cuenta</p>
          </div>

          <div class="form" id="formulario_de_registro" >
            
            <div class="mb-0">
              <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col" id="grupo__inputNameE">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                              <label class="form-label">Nombre de la empresa</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                          <input value="" id="inputNameE" name="inputNameE" type="text" class="form-control" placeholder="Supermercados Peruanos S.A." required>
                          <div class="input-group-text">
                            <i class="formulario__validacion-estado fas fa-times-circle" style="margin:auto"></i>
                          </div> 
                          
                          </div>
                      </div>
                  </div>

                  <div class="col" id="grupo__inputNameE">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                              <label class="form-label">Rol de la empresa</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                          <input value="" id="inputRolEntidad" name="inputRolEntidad" type="text" class="form-control" placeholder="Supermercados Peruanos S.A." required>
                          <div class="input-group-text">
                            <i class="formulario__validacion-estado fas fa-times-circle" style="margin:auto"></i>
                          </div> 
                          
                          </div>
                      </div>
                  </div>
          
                  <div class="col" id="grupo__inputName">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                          <label class="form-label">Nombre de contacto</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputName" name="inputName" type="text" class="form-control" placeholder="Jose Mariano" required>
                            <div class="input-group-text">
                              <i class="formulario__validacion-estado fas fa-times-circle" style="margin:auto"></i>
                            </div> 
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        
            <div class="mb-0">
              <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col" id="grupo__inputSurname">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                          <label class="form-label">Apellido Paterno</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputSurname1" name="inputSurname1" type="text" class="form-control" placeholder="Perez Lopez" required>
                            <div class="input-group-text">
                              <i class="formulario__validacion-estado fas fa-times-circle" style="margin:auto"></i>
                            </div> 
                          </div>
                      </div>
                  </div>

                  <div class="col" id="grupo__inputRuc">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                              <label class="form-label">RUC</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                          <input value="" id="inputRuc" name="inputRuc" type="text" class="form-control" placeholder="20100070970" required>
                          <div class="input-group-text">
                            <i class="formulario__validacion-estado fas fa-times-circle" style="margin:auto"></i>
                          </div> 
                          
                          </div>
                      </div>
                  </div>
          
                  
                  <div class="col" id="grupo__inputSurname">
                    <div class="mb-2" style="width:100%">
                        <div class="col-12 col-lg-12 d-flex justify-content-left">
                        <label class="form-label">Apellido Materno</label>
                        </div>
                        <div class="col-12 col-lg-12" style="display:flex">
                          <input value="" id="inputSurname2" name="inputSurname2" type="text" class="form-control" placeholder="Perez Lopez" required>
                          <div class="input-group-text">
                            <i class="formulario__validacion-estado fas fa-times-circle" style="margin:auto"></i>
                          </div> 
                        </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="mb-0">
              <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col" id="grupo__inputPhone">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                              <label class="form-label">Teléfono</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputPhone" name="inputPhone" type="number" class="form-control" placeholder="123456" required>
                            <div class="input-group-text">
                              <i class="formulario__validacion-estado fas fa-times-circle" style="margin:auto"></i>
                            </div> 
                          </div>
                      </div>
                  </div>
          
                  <div class="col" id="grupo__inputEmail">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                          <label class="form-label">Correo electrónico</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputEmail" name="inputEmail" type="email" class="form-control" placeholder="jperezl@correo.com" required>
                            <div class="input-group-text">
                              <i class="formulario__validacion-estado fas fa-times-circle" style="margin:auto"></i>
                            </div> 
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="mb-0">
              <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col" id="grupo__inputLocation">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                              <label class="form-label">Ubicación</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputLocation" name="inputLocation" type="text" class="form-control" placeholder="Los palotes escondidos 123" required>
                            <div class="input-group-text">
                              <i class="formulario__validacion-estado fas fa-times-circle" style="margin:auto"></i>
                            </div> 
                          </div>
                      </div>
                  </div>

                  <div class="col" id="grupo__inputCell">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                          <label class="form-label">Celular</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputCell" name="inputCell" type="text" class="form-control" placeholder="999888777" required>
                            <div class="input-group-text">
                              <i class="formulario__validacion-estado fas fa-times-circle" style="margin:auto"></i>
                            </div> 
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="mb-0">
              <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col" id="grupo__inputPass">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                            <label class="form-label">Contraseña</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputPass" name="inputPass" type="password" class="form-control" placeholder="••••••••" required>
                          </div>
                      </div>
                  </div>
          
                  <div class="col" id="grupo__inputPosition">
                    <div class="mb-2" style="width:100%">
                        <div class="col-12 col-lg-12 d-flex justify-content-left">
                        <label class="form-label">Cargo</label>
                        </div>
                        <div class="col-12 col-lg-12" style="display:flex">
                          <input value="" id="inputPosition" name="inputPosition" type="text" class="form-control" placeholder="Encargado de ventas y stock" required>
                          <div class="input-group-text">
                            <i class="formulario__validacion-estado fas fa-times-circle" style="margin:auto"></i>
                          </div> 
                        </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="mb-0">
              <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col" id="grupo__inputPass2">
                      <div class="mb-2" style="width:100%">
                          <div class="col-12 col-lg-12 d-flex justify-content-left">
                            <label class="form-label">Confirmar contraseña</label>
                          </div>
                          <div class="col-12 col-lg-12" style="display:flex">
                            <input value="" id="inputPass2" name="inputPass2" type="password" class="form-control" placeholder="••••••••" required>
                            <div class="input-group-text">
                              <i class="formulario__validacion-estado fas fa-times-circle" style="margin:auto"></i>
                            </div> 
                          </div>
                      </div>
                  </div>

                  <div class="col">
                    <div class="caja_centrada d-flex justify-content-center">
                      <div class="g-recaptcha" data-sitekey="6LewoVQgAAAAAOLgERaAT1onYf6kT51gQ70BDjOi"></div>
                    </div> 
                  </div>
              </div>
            </div>

            <div class="mb-3 text-center pt-3">¿Ya estás registrado? <a href="iniciar-sesion" class="fw-bold text-muted" style="text-decoration: none;">Inicia sesión</a></div>

            <div class="caja_centrada d-flex justify-content-left">
              <div class="form-check">
                <input name="tyc" class="form-check-input" type="checkbox" id="defaultCheck1" required>
                <label class="form-check-label" for="defaultCheck1">
                  He leído y acepto la <a href="">política de privacidad</a> y <a href="">los terminos y condiciones</a>.
                </label>
              </div>
            </div> <br>
            
            <div class="caja_centrada d-flex justify-content-left">
                <button id="registrarse" class="btn btn-danger" style="padding-left:40px; padding-right: 40px;">Registrarse</button>
            </div>

          </div>
        </div>   
    </div>
        
    <script src="js/validacion-registro.js" type="text/javascript"></script>

    </div>
  </body>
</html>

<script type="text/javascript">
  document.getElementById('registrarse').addEventListener('click',RegisterUsu);

  function RegisterUsu(){
    let data = {
      ruc: document.getElementById('inputRuc').value,
      entidad: document.getElementById('inputNameE').value,
      ubicacion: document.getElementById('inputLocation').value,
      rol_entidad: document.getElementById('inputRolEntidad').value,
      nombre: document.getElementById('inputName').value,
      apellido1: document.getElementById('inputSurname1').value,
      apellido2: document.getElementById('inputSurname2').value,
      cargo: document.getElementById('inputPosition').value,
      correo: document.getElementById('inputEmail').value,
      celCod: '+51',
      celular: document.getElementById('inputCell').value,
      telefono: document.getElementById('inputPhone').value,
      contrasenia: document.getElementById('inputPass').value,
      'g-recaptcha-response': document.getElementById('g-recaptcha-response').value
    }

    console.log(data)
    
    fetch('/usuarios', {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json',
      }
    }).then(res=>res.json())
    .then(res=> {
      if (res.status==1) window.location.href = "/iniciar-sesion";
    } );
  }
</script>

  
