<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./parts/html.head.complements.ejs')%>
    <link rel="stylesheet" href="css/cliente_dashboard.css">
    <title>Dashboard | Supplies for Order</title>
</head>
<body>
	<%- include('./parts/nav.ejs') %>
    <div class="containterDashboard">
        asdsads
    </div>
    <%- include('./parts/footer.ejs') %>
</body>
</html>