<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS only -->
	<%- include('./parts/html.head.complements.ejs')%>
	<link rel="stylesheet" type="text/css" href="css/cliente_mis_conversaciones.css">
	<title>Mis conversaciones | Supplies for Order</title>
</head>
<body>
	<%- include('./parts/nav.ejs') %>
	<div class="container-chat">
		<div class="leftSide">
			<div class="headerleftSide">
				<div class="option option-active" id="botonTab1">Mis ventas<span class="d-none" id="notifyChats1"></span></div>
				<div class="option" id="botonTab2">Mis compras<span class="d-none" id="notifyChats2"></span></div>
			</div>

			<div class="chatList">
				<div class="content content-active" id="chatListVenta">
					<!-- aquí se genera el listado de chats sobre ventas-->
				</div>
				<div class="content" id="chatListCompra">
					<!-- aquí se genera el listado de chats sobre compras-->
				</div>
			</div>
		</div>
		
		<div id="mediumSide">
			<div class="mainBox text-center d-flex align-items-center justify-content-center" id="contentChat1">
				<div class="mainText">
					<i class="fa-regular fa-comment-dots"></i>
					<p>Envie y reciba mensajes sobre sus ventas o compras</p>
				</div>
			</div>
			<div class="mainBoxchat d-none">
				<div class="headermediumSide">
					<!---->
				</div>
				<div class="tab-content" id="chatsBoxes">
					<!-- aquí se generan los contenidos de los chats -->
				</div>
				<div class="chatInput">
					<input type="text" class="form-control mx-1" placeholder="Escriba un mensaje" aria-label="Recipient's username" aria-describedby="botonEnviar" id="contenidoMensaje">
					<button class="btn btn-primary rounded-circle mx-3" type="button" id="botonEnviar"><i class="fa-solid fa-chevron-right"></i></button>
				</div>	
			</div>		
		</div>

		<div class="infoUsuario text-center">
			<!--aqui va la informacion del usuario-->
		</div>
	</div>
</body>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/chat/funcionesInterfaz.js"></script>
<script type="text/javascript" src="/js/chat/mensajes.js"></script>
<script type="text/javascript" src="/js/chat/cargaHistorialChats.js"></script>
</html>

<script src="/js/chat-interface.js"></script>
