body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

#sub_contenido{
    max-width: 800px;
    height: 100%;
    padding: 40px;
    margin-left: 40px;
}

.form .foto{
    width: 130px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

/*Cabezera y Pie de página*/

.form button{
    background-color:#DB8015;
    border-color: #DB8015;
    width: 250px;
}

#header{
    width: 100%;
    height: 120px;
    background-color: #DB8015;
}

#footer{
    width: 100%;
    height: 120px;
    background-color: #DB8015;
}