#sub_contenido{
    width: 80%;
    max-width: 800px;
    height: 840px;
    margin-left: 40px;
    margin-bottom: 40px;
    padding: 40px;
    justify-content: left;
}

#contenido{
    justify-content: left;   
}

.for .caja_centrada{
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

/*Verificacion sobre los inputs a trabajar en forma gráfica*/

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #D4D925;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #FF5B00;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #FF5B00;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #FF5B00;
}

/*Cabezera y Pie de página*/
.form button{
    background-color:#DB8015;
    border-color: #DB8015;
    width: 250px;
}

#header{
    width: 100%;
    height: 120px;
    background-color: #DB8015;
}

#footer{
    width: 100%;
    height: 120px;
    background-color: #DB8015;
}