*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-chat{
    display: flex;
    margin-top: 1px;
    width: 100%;
    height: calc(100vh - 57px);
}
/*-----------LISTA DE CHATS-----------*/
.container-chat .leftSide{
    position: relative;
    width: 30%;
    background: #f1f4fa;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.headerleftSide{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #e2e4eb;
    width: 100%;
    font-size: 15px;
    height: auto;
    color: black;
    font-weight: 600;
}
#botonTab1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#botonTab1:hover{
    cursor: pointer;
    transition: all 200ms linear;
    background:#a3b4f1;
}
.notChats{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.notChats i{
    text-align: center;
    font-size: 60px;
}
#notifyChats1{
    background-color: #2e67e2;
    margin-left: 5px;
    width: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#notifyChats2{
    background-color: #2e67e2;
    margin-left: 5px;
    width: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#botonTab2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
    height: 100%;
}
#botonTab2:hover{
    cursor: pointer;
    transition: all 200ms linear;
    background: #a3b4f1;
}
.chatList{
    position: relative;
    height: auto;
    overflow-y: auto;
}
.time{
    font-size: 12px;
}
.option-active{
    background-color: #a3b4f1;
}
.content {
    display: none;
}
.content-active{
    display: block;
}
.chatList::-webkit-scrollbar {
    width: 10px;
}
.chatList::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
.chatList::-webkit-scrollbar-thumb {
    background-color: #758DB0;
}
.chatList .block{
    position: relative;
    width: 100%;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.chatList .infoBlock{   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.userInfo{
    display: flex;
    position: absolute;
    right: 10px;
    top: 50px;
    justify-content: right;
    align-items: right;
}
.notifyChat{
    height: 70%;
}
.userInfo .optionsChat:hover{
    color: #002bc6;
    transition: all 100ms linear;
}
.options{
    width: 50%;
}
.chatList .block:hover{
    transition: all 200ms linear;
    cursor: pointer;
    background: #cbd2ec;
}
.chatList .block .imgChat{
    display: block;
    width: 70px;
    height: 70px;
    margin-right: 1rem;
    position: relative;
    border-radius: 50%;
}
.chatList .block .imgChat .userProduct{
    display: block;
    width: 70px;
    height: 70px;
    margin-right: 1rem;
    position: relative;
    border-radius: 50%;
    border: 2px solid #562acc;
}
.chatList .block .userRequest{
    position: absolute;
    display: block;
    width: 50%;
    height: 50%;
    background-color: #ADADAD;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 2px solid #8e76b5;
}
.chatList .block .msgChat {
    flex-grow: 1;
    flex-basis: 0;
}
.chatList .block .msgChat .titleChat{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatList .block .msgChat span {
    display: block;
}
/*----------MENSAJES----------*/
.container-chat #mediumSide{
    position: relative;
    width: 70%;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#mediumSide.active{
    width: 50%;
}
.container-chat #mediumSide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.headermediumSide{
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    padding: 20px;
    height: 63px;
    width: 100%;
    background-color: #e2e4eb;
}
.headermediumSide i{
    margin-left: 10px;
    font-size: 23px;
    margin-right: 10px;
    color: #562acc;
    cursor: pointer;
}
.chatBox{
    position: absolute;
    width: 100%;
    height: calc(100% - 120px);
    padding: 15px;
    background-color: #fff;
    overflow-y: auto;
}
.chatsBoxes{
    position: absolute;
    bottom: 0;
}
.chatBox::-webkit-scrollbar {
    width: 10px;
}
.chatBox::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
.chatBox::-webkit-scrollbar-thumb {
    background-color: #758DB0;
}
.msg{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}
.msg p .timeR{
    display: block;
    margin-top: 5px;
    text-align: left;
    font-size: 0.85em;
    opacity: 0.5;
}
.msg p .timeL{
    display: block;
    margin-top: 5px;
    text-align: right;
    font-size: 0.85em;
    opacity: 0.5;
}
.msg p{
    position: relative;
    right: 0;
    max-width: 65%;
    padding: 12px;
    font-size: 0.9em;
}
.my-message{
    justify-content: flex-start;
}
.my-message p{
    background: #C7D6E8;
    border-radius: 10px;
    word-break:break-all;
}
.frnd-message{
    justify-content: flex-end;
}
.frnd-message p{
    background: #A3BDDC;
    border-radius: 10px;
    word-break:break-all;
}
.chatInput{
    background: #D7DBE7;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    bottom: 0px;
    padding: 15px;
}
.chatInput i{
    color: #fff;
}
/*----------INICIO DE INTERFAZ----------*/
#mediumSide .mainBox{
    width: 100%;
    height: 100%;
    background: #fff;
}
.mainBox .mainText i{
    font-size: 50px;
}
/*----------INFORMACION DE USUARIO----------*/
.container-chat .infoUsuario{
    position: fixed;
    background: #F4F6FA;
    right: -900px;
    width: 20%;
    height: 100%;
}
.headerrightSide{
    background-color: #e2e4eb;
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 600;
    font-size: 15px;
}
#closeInfo{
    display: none;
}
.infoUsuario.active{
    right: 0px;
}
.infoUsuario .userImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 1rem;
    padding: 20px;
}
.infoUsuario .userImg img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 2px solid #8e76b5;
}
.infoUsuario .card{
    background-color: #F4F6FA;
}
.deleteChat{
    display: none;
}
/*----------RESPONSIVE----------*/
@media(max-width: 912px){
    .container-chat .leftSide{
        width: 40%;
    }
    .container-chat #mediumSide{
        width: 60%;
    }
    .container-chat .infoUsuario{
        position: fixed;
        background: #F4F6FA;
        right: -900px;
        width: 20%;
        height: 100%;
    }
    .infoUsuario.active{
        position: absolute;
        width: 60%;
        height: 100%;
        right: 0px;
    }
    
    .headerleftSide{
        width: 100%;
        font-size: 13px;
    }
    #botonTab1{
        width: 100%;
        text-align: center;
    }
    #botonTab2{
        width: 100%;
        text-align: center;
    }
    .chatList .block{
        position: relative;
    }
    .headermediumSide i{
        font-size: 20px;
    }
    .infoUsuario .userImg img{
        width: 30%;
    }
    #closeInfo{
        display: block;
        margin-right: 20px;
    }
    .userInfo{
        right: 290px;
        top: 10px;
    }
    .optionsChat{
        display: none;
    }
    .deleteChat{
        display: block;
    }
    .headerrightSide{
        font-size: 13px;
        align-items: left;
    }
}
@media(max-width: 600px){
    .headerleftSide{
        width: 100%;
        font-size: 13px;
    }
    .container-chat .infoUsuario{
        position: fixed;
        background: #F4F6FA;
        right: -900px;
        width: 20%;
        height: 100%;
    }
    .infoUsuario.active{
        position: absolute;
        width: 60%;
        height: 100%;
        right: 0px;
    }
    #botonTab1{
        width: 100%;
        text-align: center;
    }
    #botonTab2{
        width: 100%;
        text-align: center;
    }
    .chatList .block{
        position: relative;
    }
    .headermediumSide i{
        font-size: 20px;
    }
    .infoUsuario .userImg img{
        width: 50%;
    }
    #closeInfo{
        display: block;
        margin-right: 20px;
    }
    .userInfo{
        right: 165px;
        top: 20px;
    }
    .optionsChat{
        display: none;
    }
    .deleteChat{
        display: block;
    }
    .headerrightSide{
        font-size: 13px;
        justify-content: center;
    }
}
@media(max-width: 360px){
	.msgChat{        
        display: none;
    }
    .headerleftSide{
        width: 100%;
        height: 60px;
        font-size: 13px;
    }
    .container-chat .infoUsuario{
        position: fixed;
        background: #F4F6FA;
        right: -900px;
        width: 20%;
        height: 100%;
    }
    .infoUsuario.active{
        position: absolute;
        width: 60%;
        height: 100%;
        right: 0px;
    }
    #botonTab1{
        width: 100%;
        text-align: center;
    }
    #botonTab2{
        width: 100%;
        text-align: center;
    }
    .chatList .block{
        position: relative;
    }
    .headermediumSide i{
        font-size: 20px;
    }
    .infoUsuario .userImg img{
        width: 70%;
    }
    #closeInfo{
        display: block;
        margin-right: 20px;
    }
    .userInfo{
        right: 50px;
        top: 10px;
    }
    .optionsChat{
        display: none;
    }
    .deleteChat{
        display: block;
    }
    .headerrightSide{
        font-size: 13px;
        justify-content: left;
    }
}