footer{
    padding: 15px;
    margin-top: 2%;
    width: 100%;
}
#footerSections{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:50px;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#footerSections a{
    text-decoration: none;
    color: black;
}