.containerBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
}
/*-----------------------------------*/
.bodyInfo{
    padding: 30px 40px;
    width: 50%;
}
.bodyInfo .titleBody{
    font-size: 45px;
    font-weight: 650;
}
.bodyInfo .subInfo{
    margin: 20px 0;
}
/*-----------------------------------*/
.bodyImages{
    width: 50%;
    box-shadow: 2px 5px 5px #888888;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}
.bodyImages img{
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}
