*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    width: 100%;
    max-height: 100vh;
}
.container-chat{
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - 40px);
}
/*-----------LISTA DE CHATS-----------*/
.container-chat .leftSide{
    position: relative;
    width: 30%;
    background: #F4F6FA;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.headerleftSide{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #D7DBE7;
    width: 100%;
    height: 60px;
    color: black;
    font-weight: 600;
}
#botonTab1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #D7DBE7;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#botonTab1:hover{
    cursor: pointer;
    transition: all 200ms linear;
    color: white;
    background: #7289C6;
}
#botonTab2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #D7DBE7;
    height: 100%;
}
#botonTab2:hover{
    cursor: pointer;
    color: white;
    transition: all 200ms linear;
    background: #7289C6;
}
.chatList{
    position: relative;
    height: calc(100%-60px);
    overflow-y: auto;
}
.time{
    font-size: 12px;
}
.userIcon{
    position: absolute; 
    right: 10px;
    top: 47px;
    z-index: 3;
}
.notifyChat{
    height: 70%;
}
.userIcon .optionsChat:hover{
    opacity: 0.7;
    transition: all 100ms linear;
}
.content {
    display: none;
}
.content-active{
    display: block;
}
.chatList::-webkit-scrollbar {
    width: 10px;
}
.chatList::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
.chatList::-webkit-scrollbar-thumb {
    background-color: #758DB0;
}
.chatList .block{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.chatList .block:hover{
    transition: all 200ms linear;
    cursor: pointer;
    background: #B9BECF;
}
.chatList .block .imgChat{
    display: block;
    width: 70px;
    height: 70px;
    margin-right: 1rem;
    position: relative;
    border-radius: 50%;
}
.chatList .block .imgChat .userProduct{
    display: block;
    width: 70px;
    height: 70px;
    margin-right: 1rem;
    position: relative;
    border-radius: 50%;
    border: 2px solid #7289C6;
}
.chatList .block .userRequest{
    position: absolute;
    display: block;
    width: 50%;
    height: 50%;
    background-color: #ADADAD;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 2px solid #9cb8e2;
}
.chatList .block .msgChat {
    flex-grow: 1;
    flex-basis: 0;
}
.chatList .block .msgChat .titleChat{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatList .block .msgChat span {
    display: block;
}
/*----------MENSAJES----------*/
.container-chat #mediumSide{
    position: relative;
    width: 70%;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#mediumSide.active{
    width: 50%;
}
.container-chat #mediumSide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.headermediumSide{
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    padding: 20px;
    width: 100%;
    height: 60px;
    background-color: #D7DBE7;
}
.headermediumSide i{
    font-size: 28px;
    margin-right: 10px;
    color: #7289C6;
    cursor: pointer;
}
.chatBox{
    position: absolute;
    width: 100%;
    height: calc(100% - 120px);
    padding: 15px;
    background-color: #fff;
    overflow-y: auto;
}
.chatBox::-webkit-scrollbar {
    width: 10px;
}
.chatBox::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
.chatBox::-webkit-scrollbar-thumb {
    background-color: #758DB0;
}
.msg{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}
.msg p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}
.msg p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    border-radius: 10px;
    font-size: 0.9em;
}
.my-message{
    justify-content: flex-start;
}
.my-message p{
    background: #C7D6E8;
}
.frnd-message{
    justify-content: flex-end;
}
.frnd-message p{
    background: #A3BDDC;
    text-align: left;
}
.chatInput{
    background: #D7DBE7;
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    padding: 15px;
}
/*----------INICIO DE INTERFAZ----------*/
#mediumSide .mainBox{
    width: 100%;
    height: 100%;
    background: #fff;
}
.mainBox .mainText i{
    font-size: 50px;
}
/*----------INFORMACION DE USUARIO----------*/
.container-chat #rightSide{
    position: fixed;
    background: #F4F6FA;
    right: -900px;
    width: 20%;
    height: 100%;
}
.headerrightSide{
    background: #D7DBE7;
    width: 100%;
    height: 60px;
    color: black;
    font-weight: 600;
}
#rightSide.active{
    right: 0px;
}
#rightSide .userImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 1rem;
    padding: 20px;
    position: relative;
}
#rightSide .userImg img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 2px solid #9cb8e2;
}
#rightSide .card{
    background-color: #F4F6FA;
}
/*----------RESPONSIVE----------*/
@media(max-width: 850px){
	.msgChat{        
        display: none;
    }
    .container-chat #rightSide{
        position: fixed;
        right: -900px;
    }
    #rightSide.active{
        position: absolute;
        width: 70%;
        height: 100%;
        right: 0px;
    }
}