*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    width: 100%;
    max-height: 100vh;
}
.container-chat{
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - 40px);
}
/*-----------LISTA DE CHATS-----------*/
.container-chat .leftSide{
    position: relative;
    width: 30%;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.headerleftSide{
    position: relative;
    background: #D7DBE7;
    width: 100%;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    height: 60px;
}
.chatList{
    position: relative;
    height: calc(100%-60px);
    overflow-y: auto;
}
.time{
    font-size: 13px;
}
.notifyChat{
    display: block;
    width: auto;
    float: right;
    background-color: #0765f1;
    color: #fff;
    padding: 0 8px;
    border-radius: 20px;
}
.content {
    display: none;
}
.content-active{
    display: block;
}
.chatList::-webkit-scrollbar {
    width: 10px;
}
.chatList::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}

.chatList::-webkit-scrollbar-thumb {
    background-color: #758DB0;
}
.chatList .block{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.chatList .block:hover{
    transition: all 200ms linear;
    cursor: pointer;
    background: #B9BECF;
}
.chatList .block .imgChat{
    display: block;
    width: 70px;
    height: 70px;
    margin-right: 1rem;
    position: relative;
    border-radius: 50%;
}
.chatList .block .imgChat .userProduct{
    display: block;
    width: 70px;
    height: 70px;
    margin-right: 1rem;
    position: relative;
    border-radius: 50%;
}
.chatList .block .userRequest{
    position: absolute;
    display: block;
    width: 50%;
    height: 50%;
    background-color: #ADADAD;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 2px solid #fff;
}
.chatList .block .msgChat {
    flex-grow: 1;
    flex-basis: 0;
}
.chatList .block .msgChat .titleChat{
    display: flex;
    justify-content: space-between;
}
.chatList .block .msgChat span {
    display: block;
}
/*----------MENSAJES----------*/
.container-chat #mediumSide{
    position: relative;
    width: 70%;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#mediumSide.active{
    width: 50%;
}
.container-chat #mediumSide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.headermediumSide{
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    padding: 20px;
    width: 100%;
    height: 60px;
    background: #D7DBE7;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.headermediumSide i{
    font-size: 28px;
    color: #758DB0;
    cursor: pointer;
}
.chatBox{
    position: absolute;
    width: 100%;
    height: calc(100% - 120px);
    padding: 15px;
    background-color: #fff;
    overflow-y: auto;
}
.chatBox::-webkit-scrollbar {
    width: 10px;
}
.chatBox::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
.chatBox::-webkit-scrollbar-thumb {
    background-color: #758DB0;
}
.msg{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}
.msg p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}
.msg p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    border-radius: 10px;
    font-size: 0.9em;
}
.my-message{
    justify-content: flex-start;
}
.my-message p{
    background: #C7D6E8;
}
.frnd-message{
    justify-content: flex-end;
}
.frnd-message p{
    background: #A3BDDC;
    text-align: left;
}
.chatInput{
    background: #D7DBE7;
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    padding: 15px;
}
/*----------INICIO DE INTERFAZ----------*/
#mediumSide .mainBox{
    width: 100%;
    height: 100%;
    background: #fff;
}
.mainBox .mainText i{
    font-size: 50px;
}
/*----------INFORMACION DE USUARIO----------*/
.container-chat #rightSide{
    position: fixed;
    background: #fff;
    right: -900px;
    width: 20%;
    height: 100%;
}
#rightSide.active{
    right: 0px;
}
#rightSide .userImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}
#rightSide .userImg img{
    width: 80%;
    height: 80%;
    padding: 10px;
    border-radius: 50%;
}