body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.navbar{
    margin-bottom: 1%;
}
.brandTitle{
    width: 10%;
}
.linkItem{
    width: 100%;
}
.linkItem i{
    color: white;
    background-color: #002bc6;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5%;
}
.navbar-nav i{
    font-size: 20px;
}