body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.brandTitle{
    width: 10%;
}
.linkItem{
    width: 100%;
}
.iconLink{
    background-color: #002bc6;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}
.linkItem li{
    margin-bottom: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.linkItem span{
    margin-bottom: 10px;
    font-weight: 500;
}
.linkItem li a{
    display: flex;
    justify-content: left;
    align-items: center;
}
.navbar-nav i{
    font-size: 20px;
}