#sub_contenido{
    width: 100%;
    max-width: 1300px;
    height: 840px;
    margin-bottom: 40px auto;
    padding: 40px;
}

#contenido{
    justify-content: center;   
}

.for .caja_centrada{
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

#searchInput {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 30px;
    padding: 10px 30px 10px 30px;
}
