body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
#sub_contenido{
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px auto;
    padding: 40px;
}

#contenido{
    justify-content: center;   
}

.for .caja_centrada{
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}