
#sub_contenido{
    width: 100%;
    max-width: 900px;
    margin-bottom: 40px auto;
    padding: 40px;
}

#contenido{
    justify-content: center;   
}

.Hidden{
    opacity: .5;
}

.for .caja_centrada{
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.notChats{
    display: grid;
    height: 280px;
    text-align: center;
}
.notChats i{
    display: grid;
    justify-content: center;
    align-items: end;
    padding: 10px;
    text-align: center;
    font-size: 60px;
}