.input-group-btn{
  border: 0px;
  opacity: .2;
  padding-left: 0px;
  padding-right: 0px;
}

.input-group-btn:hover{
  opacity: 1;
  transition: .1s; 
}

.form-control-plaintext{
  text-align: center;
}

.data-value{ width: 95%; }
.data-controls{ width: 5%; padding-top: 27px;}