<footer class="bg-light" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px -4px 4px rgba(0, 0, 0, 0.1);">
    <div>
        <div id="footerSections">
            <div class="columna" id="logo">
                <a href="/">Supplies <span style="color: red;">for</span> Order</a>
            </div>

            <div class="columna">
                <div class="title"><b>NOSOTROS</b></div>
                <a href="#"><div class="option">Política de privacidad</div></a>
                <a href="#"><div class="option">Términos y condiciones</div></a>
                <div class="title"></div>
            </div>

            <div class="columna">
                <div class="title"><b>UBÍCANOS</b></div>
                <div class="title"><i class="fa-solid fa-location-dot"></i> Av. Miraflores S/N</div>
                <div class="title"><i class="fa-solid fa-phone"></i> (+51) 966 642 024</div>
            </div>

            <div class="columna text-center d-flex justify-content-center align-items-center">
                <p>Copyright © 2023 Supplies for Order - Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>