<nav class="navbar navbar-expand-lg sticky-top bg-white" style="box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);">
  <div class="container-fluid">
    <% if(session) { %>
      <div class="brandTitle">
          <a class="navbar-brand" role="button" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            <i class="fa-solid fa-bars" style="margin-right:20px;"></i><span id="namePage"></span>
          </a>
      </div>
    <% } %>

    <div class="d-flex">
      <a class="navbar-brand" href="inicio">Supplies<span style="color:red;">4</span>Order</a>
      <% if(!session) { %>
        <ul class="navbar-nav showPubli">
          <li class="nav-item">
            <a class="nav-link" href="lista-publicaciones">Ver publicaciones</a>
          </li>
        </ul>
      <% } %>
    </div>

    <div class="moreLinks">
      <ul class="navbar-nav">
        <% if(!session) { %>
            <li class="nav-item d-flex justify-content-center align-items-center">
                <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#login"><i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión</a>
            </li>
        <% } else { %> 
            <li class="nav-item">
                <a class="nav-link" href="registrar-publicacion"><i class="fa-solid fa-clipboard"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link iconConver position-relative" href="mis-conversaciones"><i class="fa-solid fa-comments"></i>
                  <span class="d-none alertBadge position-absolute top-0 start-100 translate-middle p-2 bg-primary border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                  </span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="mi-perfil"><i class="fa-solid fa-id-card"></i> Perfil</a></li>
                    <li><a id="logOutBtn" class="dropdown-item" type="button"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</a></li>
                </ul>
            </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<div class="bg-light offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Acceso rápido</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <div>
        <ul class="list-group linkItem list-group-flush">
          <li class="list-group-item bg-light"><a class="text-dark text-decoration-none" href="inicio"><div class="iconLink"><i class="fa-solid fa-house"></i></div>Inicio</a></li>
          <li class="list-group-item bg-light"><a class="text-dark text-decoration-none" href="mis-publicaciones"><div class="iconLink"><i class="fa-solid fa-box-archive"></i></div>Mis publicaciones</a></li>
          
          <span class="list-group-item bg-light">Revisar las conversaciones</span>
          <li class="list-group-item bg-light"><a class="text-dark text-decoration-none" href="mis-conversaciones"><div class="iconLink"><i class="fa-solid fa-comments"></i></div>Mis conversaciones</a></li>

          <span class="list-group-item bg-light">Explorar y crear publicaciones</span>
          <li class="list-group-item bg-light"><a class="text-dark text-decoration-none" href="lista-publicaciones"><div class="iconLink"><i class="fa-solid fa-tag"></i></div>Lista de publicaciones</a></li>
          <li class="list-group-item bg-light"><a class="text-dark text-decoration-none" href="registrar-publicacion"><div class="iconLink"><i class="fa-solid fa-clipboard"></i></div>Registrar producto</a></li>
        </ul>           
      </div>
  </div>
</div>

<% if(!session) { %>
  <%- include('./nav.login.ejs') %>
  <%- include('./nav.login.recovery.ejs') %>  
  <script type="text/javascript" src="./js/form.functions.js"></script>
<% } %>

<script type="text/javascript" src="../js/nav.functions.js"></script>
<script type="text/javascript" src="./js/sesiones.js"></script>