<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" novalidate>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="loginModalLabel">Identificarse</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-text text-danger mb-3 d-none serverResponse"></div>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
            <label for="email">Correo electrónico</label>
            <div class="invalid-feedback"> Ingrese un correo electrónico válido. </div>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="pass" placeholder="Password" pattern="^(?=.*\d)|(?=.*[a-z])|(?=.*[A-Z])|(?=.*[a-zA-Z]).{8,}$" required>
            <label for="pass">Contraseña</label>
            <div class="invalid-feedback"> Ingrese su contraseña. </div>
          </div>

          <div class="form-text text-align-end"><a type="button" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#recovery">¿Olvidaste tu contraseña?</a></div>
          
        </div>
        <div class="modal-footer">
          <div class="form-text me-auto">¿No tienes una cuenta? <a href="/registrarse" class="text-decoration-none">¡Regístrate!</a></div>
          <input type="button" class="btn btn-primary" id="logInBtn" value="Iniciar sesión">
          <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Cancelar">
        </div>
    </div>
  </div>
</div>