<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="inicio">Inicio</a>
    </li>
    <% if(!session) { %>
        <li class="nav-item">
          <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#login">Iniciar sesion</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="registrarse">Registrarse</a>
        </li>
    <% } else { %> 
      <li class="nav-item">
        <a class="nav-link" href="mi-perfil">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registrar-publicacion">Crear publicacion</a>
      </li>
      <li class="nav-item">
        <a id="logOutBtn" class="nav-link" type="button">Cerrar sesion</a>
      </li>
    <% } %>
</ul>

<% if(!session) { %>
  <%- include('./nav.login.ejs') %>
  <%- include('./nav.login.recovery.ejs') %>  
<% } %>

<script type="text/javascript" src="./js/sesiones.js"></script>