<div class="modal fade" id="Ocultar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="Ocultar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="Ocultar">Ocultar publicacion</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ¿Estás seguro que quieres ocultar la publicación?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <input type="button" id="btnHide" onclick="Hide(${publicacion.id})" class="btn btn-primary" value="Ocultar">
        </div>
        </div>
    </div>
</div>