<div class="row  mb-5">
	<div class="">
		<div id="containerFotoEmpresa" class="mb-3"> 
			<img src="/images/business-photos/defaultBusiness.jpg" id="fotoEmpresa" class="rounded" style="width: 150px; height: 150px">
		</div>

		<hr>

		<div id="datosEmpresa">
			<div class="dato d-flex">
		      <div class="data-value">
		      	<div>
		      		<label class="form-text">Entidad</label>
		        	<input class="form-control-plaintext" id="nombreEmpresa" value="" readonly>     
		      	</div>             
		      </div>
		      <div class="data-controls">
		        <button type="button" class="input-group-btn btn"><i class="fa-solid fa-pen"></i></button>
		        <button type="button" class="input-group-btn btn check d-none"><i class="fa-solid fa-floppy-disk"></i></button>
		      </div>
		    </div>
		    <div class="dato d-flex">
		      <div class="data-value">
		        <div class="form-text">R.U.C.</div>
		        <input class="form-control-plaintext" id="rucEmpresa" value="" readonly>                  
		      </div>
		      <div class="data-controls">
		        <button type="button" class="input-group-btn btn"><i class="fa-solid fa-pen"></i></button>
		        <button type="button" class="input-group-btn btn check d-none"><i class="fa-solid fa-floppy-disk"></i></button>
		      </div>
		    </div>
		    <div class="dato d-flex">
		      <div class="data-value">
		        <div class="form-text">Teléfono</div>
		        <input class="form-control-plaintext" id="telefono" value="" readonly>                  
		      </div>
		      <div class="data-controls">
		        <button type="button" class="input-group-btn btn"><i class="fa-solid fa-pen"></i></button>
		        <button type="button" class="input-group-btn btn check d-none"><i class="fa-solid fa-floppy-disk"></i></button>
		      </div>
		    </div>
		    <div class="dato d-flex">
		      <div class="data-value">
		        <div class="form-text">Ubicación Empresa</div>
		        <input class="form-control-plaintext" id="ubicacionEmpresa" value="" readonly>                  
		      </div>
		      <div class="data-controls">
		        <button type="button" class="input-group-btn btn"><i class="fa-solid fa-pen"></i></button>
		        <button type="button" class="input-group-btn btn check d-none"><i class="fa-solid fa-floppy-disk"></i></button>
		      </div>
		    </div>
		</div>
	</div>
</div>