<div class="row  mb-5">
	<div class="">
		<div id="containerFotoEmpresa" class="mb-3"> 
			<img src="/images/business-photos/defaultBusiness.jpg" id="fotoEmpresa" class="rounded" style="width: 150px; height: 150px" title="Foto de empresa">
		</div>

		<hr>

		<div id="datosEmpresa">
			<div class="dato d-flex">
		      <div class="data-value">
	      		<div class="form-text">Entidad</div>
	        	<input class="form-control-plaintext" id="nombreEmpresa" value="" readonly>  
		      </div>

		      <div class="data-controls">
		        <i class="fa-solid fa-pen input-group-btn edit" edit="nombreEmpresa"></i>
		        <i class="fa-solid fa-floppy-disk input-group-btn check d-none" edit="nombreEmpresa"></i>
		        <i class="fa-solid fa-ban input-group-btn abort d-none" edit="nombreEmpresa"></i>
		      </div>
		    </div>
		    <div class="dato d-flex">
		      <div class="data-value">
		        <div class="form-text">R.U.C.</div>
		        <input class="form-control-plaintext" id="rucEmpresa" value="" readonly>                  
		      </div>
		      <div class="data-controls">
		        <i class="fa-solid fa-pen input-group-btn edit" edit="rucEmpresa"></i>
		        <i class="fa-solid fa-floppy-disk input-group-btn check d-none" edit="rucEmpresa"></i>
		        <i class="fa-solid fa-ban input-group-btn abort d-none" edit="rucEmpresa"></i>
		      </div>
		    </div>
		    <div class="dato d-flex">
		      <div class="data-value">
		        <div class="form-text">Teléfono</div>
		        <input class="form-control-plaintext" id="telefono" value="" readonly>                  
		      </div>

		      <div class="data-controls">
		        <i class="fa-solid fa-pen input-group-btn edit" edit="telefono"></i>
		        <i class="fa-solid fa-floppy-disk input-group-btn check d-none" edit="telefono"></i>
		        <i class="fa-solid fa-ban input-group-btn abort d-none" edit="telefono"></i>
		      </div>
		    </div>
		    <div class="dato d-flex">
		      <div class="data-value">
		        <div class="form-text">Ubicación Empresa</div>
		        <input class="form-control-plaintext" id="ubicacionEmpresa" value="" readonly>       
		      </div>

		      <div class="data-controls">
		        <i class="fa-solid fa-pen input-group-btn edit" edit="ubicacionEmpresa"></i>
		        <i class="fa-solid fa-floppy-disk input-group-btn check d-none" edit="ubicacionEmpresa"></i>
		        <i class="fa-solid fa-ban input-group-btn abort d-none" edit="ubicacionEmpresa"></i>
		      </div>
		    </div>
		</div>
	</div>
</div>