<div class="text-center mb-4" id="ownInfo">
  <div class="mb-3"> 
    <img src="/images/profile-photos/defaultUser.jpg" id="foto" class="rounded" style="width: 150px; height: 150px"  title="Foto de usuario">
  </div>
  <hr>
  <div id="datosUsuario">
    <div class="dato d-flex">
      <div class="data-value">
        <div class="form-text">Nombre de usuario</div>
        <input class="form-control-plaintext" id="nombre" value="" readonly pattern="^[a-zA-Z\s\xE1\xE9\xED\xF3\xFA\xC1\xC9\xCD\xD3\xDA]{3,30}$" required>                  
        <div class="invalid-feedback"> Ingrese un nombre válido. </div>
      </div>
      <div class="data-controls">
        <i class="fa-solid fa-pen input-group-btn edit" edit="nombre"></i>
            <i class="fa-solid fa-floppy-disk input-group-btn check d-none" edit="nombre"></i>
            <i class="fa-solid fa-ban input-group-btn abort d-none" edit="nombre"></i>
      </div>
    </div>

    <div class="dato d-flex">
      <div class="data-value">
        <div class="form-text">Primer Apellido</div>
        <input class="form-control-plaintext" id="apellido1" value="" readonly>                  
      </div>
      <div class="data-controls">
        <i class="fa-solid fa-pen input-group-btn edit" edit="apellido1"></i>
        <i class="fa-solid fa-floppy-disk input-group-btn check d-none" edit="apellido1"></i>
        <i class="fa-solid fa-ban input-group-btn abort d-none" edit="apellido1"></i>
      </div>
    </div>

    <div class="dato d-flex">
      <div class="data-value">
        <div class="form-text">Segundo Apellido</div>
        <input class="form-control-plaintext" id="apellido2" value="" readonly>                  
      </div>
      <div class="data-controls">
        <i class="fa-solid fa-pen input-group-btn edit" edit="apellido2"></i>
        <i class="fa-solid fa-floppy-disk input-group-btn check d-none" edit="apellido2"></i>
        <i class="fa-solid fa-ban input-group-btn abort d-none" edit="apellido2"></i>
      </div>
    </div>

    <div class="dato d-flex">
      <div class="data-value">
        <div class="form-text">Cargo de empleado</div>
        <input class="form-control-plaintext" id="cargo" value="" readonly>                  
      </div>
      <div class="data-controls">
        <i class="fa-solid fa-pen input-group-btn edit" edit="cargo"></i>
        <i class="fa-solid fa-floppy-disk input-group-btn check d-none" edit="cargo"></i>
        <i class="fa-solid fa-ban input-group-btn abort d-none" edit="cargo"></i>
      </div>
    </div>

    <div class="dato d-flex">
      <div class="data-value">
        <div class="form-text">Número de contacto</div>
        <input class="form-control-plaintext" id="celular" value="" readonly>                  
      </div>
      <div class="data-controls">
        <i class="fa-solid fa-pen input-group-btn edit" edit="celular"></i>
        <i class="fa-solid fa-floppy-disk input-group-btn check d-none" edit="celular"></i>
        <i class="fa-solid fa-ban input-group-btn abort d-none" edit="celular"></i>
      </div>
    </div>

    <div class="dato d-flex">
      <div class="data-value">
        <div class="form-text">Correo electrónico</div>
        <input class="form-control-plaintext" id="correo" value="" readonly>                  
      </div>
    </div>

    <hr>
  </div>

  <div class="mb-5">
    <button type="button" class="btn btn-secondary  mt-3" data-bs-toggle="modal" data-bs-target="#changePass">
      <i class="fa-solid fa-key"></i> Cambiar contraseña 
    </button>

    <button type="button" class="btn btn-secondary mt-3" data-bs-toggle="modal" data-bs-target="#changePhotos">
      Cambiar fotos de perfil 
    </button>
  </div>
</div>

<div class="modal fade" id="changePass" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Cambiar contraseña</h1>
        <button type="button" class="btn-close btnCloseChangePass" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-text mb-3 d-none serverResponse"></div>

        <div class="form-floating mb-3">
          <input class="form-control" id="oldPass" type="password" placeholder="Contraseña" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$" required >
          <label for="userPass1">Contraseña anterior</label>
          <div class="invalid-feedback"> La contraseña debe tener de 8 a 15 caracteres, mayúsculas y minúsculas </div>
        </div>

        <div class="form-floating mb-3">
          <input class="form-control" id="newPass" type="password" placeholder="Contraseña" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$" required>
          <label for="userPass2">Nueva contraseña</label>
          <div class="invalid-feedback"> La contraseña debe tener de 8 a 15 caracteres, mayúsculas y minúsculas </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary btnCloseChangePass" id="changePassBtn">Cambiar contraseña</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="changePhotos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Cambiar fotos de perfil</h1>
        <button type="button" class="btn-close btnCloseChangePass" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-text mb-3 d-none serverResponse"></div>

        <form class="input-group mb-3" action="/usuarios/foto" method="post" enctype="multipart/form-data">
          <label class="input-group-text" for="fotoUsuario">Usuario</label>
          <input type="file" class="form-control" name="profile-photo" required="">
          <button class="btn btn-outline-secondary" type="submit">Enviar</button>
        </form>

        <form class="input-group mb-3" action="/empresas" method="post" enctype="multipart/form-data">
          <label class="input-group-text" for="fotoEmpresa">Empresa</label>
          <input type="file" class="form-control" name="business-photo" required>
          <button class="btn btn-outline-secondary" type="submit">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>