<div class="text-center mb-4">
  <div class="mb-3"> 
    <img src="/images/profile-photos/defaultUser.jpg" id="foto" class="rounded" style="width: 150px; height: 150px">
  </div>
  <hr>
  <div id="datosUsuario">
    <div class="dato d-flex">
      <div class="data-value">
        <div class="form-text">Nombre de usuario</div>
        <input class="form-control-plaintext" id="nombre" value="" readonly>                  
      </div>
      <div class="data-controls">
        <button type="button" class="input-group-btn btn"><i class="fa-solid fa-pen"></i></button>
        <button type="button" class="input-group-btn btn check d-none"><i class="fa-solid fa-floppy-disk"></i></button>
      </div>
    </div>

    <div class="dato d-flex">
      <div class="data-value">
        <div class="form-text">Primer Apellido</div>
        <input class="form-control-plaintext" id="apellido1" value="" readonly>                  
      </div>
      <div class="data-controls">
        <button type="button" class="input-group-btn btn"><i class="fa-solid fa-pen"></i></button>
        <button type="button" class="input-group-btn btn check d-none"><i class="fa-solid fa-floppy-disk"></i></button>
      </div>
    </div>

    <div class="dato d-flex">
      <div class="data-value">
        <div class="form-text">Segundo Apellido</div>
        <input class="form-control-plaintext" id="apellido2" value="" readonly>                  
      </div>
      <div class="data-controls">
        <button type="button" class="input-group-btn btn"><i class="fa-solid fa-pen"></i></button>
        <button type="button" class="input-group-btn btn check d-none"><i class="fa-solid fa-floppy-disk"></i></button>
      </div>
    </div>

    <div class="dato d-flex">
      <div class="data-value">
        <div class="form-text">Cargo de empleado</div>
        <input class="form-control-plaintext" id="cargo" value="" readonly>                  
      </div>
      <div class="data-controls">
        <button type="button" class="input-group-btn btn"><i class="fa-solid fa-pen"></i></button>
        <button type="button" class="input-group-btn btn check d-none"><i class="fa-solid fa-floppy-disk"></i></button>
      </div>
    </div>

    <div class="dato d-flex">
      <div class="data-value">
        <div class="form-text">Número de contacto</div>
        <input class="form-control-plaintext" id="celular" value="" readonly>                  
      </div>
      <div class="data-controls">
        <button type="button" class="input-group-btn btn"><i class="fa-solid fa-pen"></i></button>
        <button type="button" class="input-group-btn btn check d-none"><i class="fa-solid fa-floppy-disk"></i></button>
      </div>
    </div>

    <div class="dato d-flex">
      <div class="data-value">
        <div class="form-text">Correo electrónico</div>
        <input class="form-control-plaintext" id="correo" value="" readonly>                  
      </div>
    </div>

    <hr>

    <div>
      <button class="btn btn btn-secondary"><i class="fa-solid fa-key"></i> Cambiar contraseña </button>
    </div>
  </div>
</div>